# Database
DATABASE_URL="postgresql://neondb_owner:***"

# Auth
JWT_SECRET="********"

LMNR_API_KEY=*********

BLOB_READ_WRITE_TOKEN="vercel_blob_rw_*********"
BLOB_STORE_ID="store_*********"
VERCEL_OIDC_TOKEN="*********"

CITY_IMAGES_PUB_STORE_ID="store_*********"
CITY_IMAGES_PUB_READ_WRITE_TOKEN="vercel_blob_rw_*********"

